<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <header class="bg-primary text-white text-center py-5">
        <h1><%= title %></h1>
        <nav>
            <a href="/" class="btn btn-light">Home</a>
        </nav>
    </header>

    <section class="py-5">
        <div class="container">
            <h2 class="text-center"><%= myWeather.location.name %></h2>
        </div>
        <ul class="list-group">
            <li class="list-group-item"><strong>Latitude & Longitude</strong> <%= myWeather.location.lat %>,  <%= myWeather.location.lon %></li>
            <li class="list-group-item"><strong>Local Time</strong> <%= myWeather.location.localtime %></li>
        </ul>
    </section>

    <footer class="bg-dark text-white text-center py-4">
        <p>&copy; 2024 My Web App. All Rights Reserved.</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>

